.mainListContainer{
    background-color: #419197;
    border-radius: 5%;
    height: 75%vh;
    width: 50%vw;
}
button{
    
    border: solid;
    border-color: black;
    color: white;
    background-color: grey;
}

.list{
    color: white;
    margin-right: 300px;
    font-size: x-large;
}

input{
    border-radius: 10px;
}

.itemchecks{
    display: flex;
    
}

.titleContainer{
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: green;
}

button{
    margin-right: 10px;
}

